.navbar {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    background: #303030;
    position: center;
    width: 100%;
    z-index: 100;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #31312f;
}

.title {
    margin-bottom: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

p {
    margin-bottom: 40px;
}